# One way ANOVA: One independent and one dependent variable

In [21]:
import os
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# marks of students taught by each methodology

- Null Hyp: mu0 = mu1 = mu2
- Alt Hyp: Atleast one of the mus are not equal

In [22]:
df_wide = pd.read_csv("Effect of Teaching Methodology - Sheet1.csv")
df_wide.head()

   Black Board  Case Presentation  PPT
0            4                  2    2
1            3                  4    1
2            2                  6    3

In [23]:
df_long = pd.melt(df.reset_index(), id_vars=["index"], value_vars=df.columns) 
df_long.columns=["index", "Methodologies", "value"]
df_long

   index      Methodologies  value
0      0        Black Board      4
1      1        Black Board      3
2      2        Black Board      2
3      0  Case Presentation      2
4      1  Case Presentation      4
5      2  Case Presentation      6
6      0                PPT      2
7      1                PPT      1
8      2                PPT      3

In [24]:
model = ols('value ~ C(Methodologies)', data=df_long).fit()

In [25]:
anova_table = sm.stats.anova_lm(model, typ=1)
anova_table

                   df  sum_sq  mean_sq    F    PR(>F)
C(Methodologies)  2.0     6.0      3.0  1.5  0.296296
Residual          6.0    12.0      2.0  NaN       NaN

Lets say the level of confidence is 95%.

- c = 0.95
- alpha = 1 - c = 1 - 0.95 = 0.05


since, p-value >> alpha, Fail to reject NULL Hypothesis. It means no real difference between the tested groups.